* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(48, 46, 46);
    overflow-x: hidden;
    /* position: relative; */
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 20px;
}

#box2 {
    height: 300px;
    width: 300px;
    background-color: lightseagreen;

}

#box12 {
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
    border-radius: 20px;
}


/* nav */

nav {
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#details {
    display: flex;
    gap: 50px;
}

#title {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    white-space: nowrap;
}


#page1,
#page2,
#page3 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 300px;
    width: 300px;
    background-color: red;
}

#page1 {
    background-color: lightblue;
}

#page2 {
    background-color: rgb(149, 209, 228);
    display: flex;
    flex-direction: column;
    gap: 50px;

    & h1 {
        font-size: 100px;
        position: relative;
        background-color: red;
    }

    & h2 {
        font-size: 100px;
        position: relative;
        background-color: rgb(153, 153, 50);
    }


}